<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <img src="static\images\pics3.jpg" alt="">
        <table class="table table-borderless">
            <tr>
                <td>name</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>rollno</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <img src="static\images\pics4.jpg" alt="">
            
            </table>
            </div>
        
</body>
</html>